@import url('https://fonts.google.com/specimen/Outfit');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   
}
.container{
    width: 350px;
    position: relative;
    border: 2px solid hsl(212, 45%, 89%);
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 20px;
}
.container img{
   width: 100%;
}
.container h2{
    padding: 10px 0;
}
.container p{
    font-size: 15px;
    font-weight: 700;
    color: hsl(220, 15%, 55%);
    line-height: 22px;
    padding: 15px;
}   
